{% extends "leavesfish/material_base.html" %}
{% block body %}
<div layout-fill layout="column">
	<md-toolbar layout="row">
		<h1 class="md-toolbar-tools" layout-align="center">Profile</h1>
	</md-toolbar>
	<md-content layout="row" flex layout-align="center">
		<md-card flex="66">
			<md-card-content>
				<h2 class="md-display-2">{{user.username}}</h2>
				<md-divider></md-divider>
				<md-list>
					<md-item>
						<md-item-content>
							<div class="md-tile-content">
								<h4>name</h4>
								<h3 class="md-display-4"><strong>{{user.first_name}} {{user.last_name}}</strong></h3>
							</div>
						</md-item-content>
					</md-item>
					<md-item>
						<md-item-content>
							<div class="md-tile-content">
								<h4>email</h4>
								<h3><strong>{{user.email}}</strong></h3>
							</div>
						</md-item-content>
					</md-item>
				</md-list>
			</md-card-content>
		</md-card>
	</md-content>	
</div>
{% endblock %}